{% extends 'layout.twig' %}

{% block content %}
	{% embed "header.twig" %}
	{% endembed %}
	<div id="content_stats">
		<div class="stats_section">
			<h1>Folders</h1>
			<table class="stats_table">
				<tr>
					<th>Name</th>
					<th>Count</th>
				</tr>
				{% for name, count in folders %}
					<tr>
						<td><a href="{{ base_url }}/{{ name }}">{{ name }}</a></td>
						<td>{{ count }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div class="stats_section">
			<h1>Stats</h1>
			<table class="stats_table">
				<tr>
					<th>Name</th>
					<th>Value</th>
				</tr>
				<tr>
					<td>Image count</td>
					<td>{{ count }}</td>
				</tr>
				<tr>
					<td>Image size</td>
					<td>{{ image_file_size }}</td>
				</tr>
				<tr>
					<td>Unique keywords</td>
					<td>{{ keywords|length }}</td>
				</tr>
				<tr>
					<td>Without keywords</td>
					<td>{{ without_keywords }}</td>
				</tr>
				<tr>
					<td>Oldest photo is <a href="{{ base_url }}{{ oldest_photo.folder }}#{{ oldest_photo.basename }}">{{ oldest_photo.file_name }}</a>, taken on {{ oldest_photo.date_taken|date('d-m-Y') }}</td>
					<td></td>
				</tr>
				<tr>
					<td>Most recent photo is <a href="{{ base_url }}{{ most_recent_photo.folder }}#{{ most_recent_photo.basename }}">{{ most_recent_photo.file_name }}</a>, taken on {{ most_recent_photo.date_taken|date('d-m-Y') }}</td>
					<td></td>
				</tr>
			</table>
			<h1 style="padding-top: 26px;">Popular cameras</h1>
			<table class="stats_table">
				<tr>
					<th>Model</th>
					<th>Count</th>
				</tr>
				{% for camModel, camData in popular_cameras %}
					<tr>
						<td><a href="{{ base_url_ralbum }}/search?camera={{ camModel }}">{{ camData.name }}</a></td>
						<td>{{ camData.count }}</td>
					</tr>
				{% endfor %}
			</table>
			<h1 style="padding-top: 26px;">Popular lenses</h1>
			<table class="stats_table">
				<tr>
					<th>Lens</th>
					<th>Count</th>
				</tr>
				{% for lens, count in popular_lenses %}
					<tr>
						<td><a href="{{ base_url_ralbum }}/search?lens={{ lens }}">{{ lens }}</a></td>
						<td>{{ count }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div class="stats_section">
			<h1>Keywords</h1>
			<table class="stats_table">
				<tr>
					<th>Keyword</th>
					<th>Count</th>
				</tr>
				{% for keyword, count in keywords %}
					<tr>
						<td><a href="{{ base_url_ralbum }}/search?q={{ keyword }}&limit_to_keyword_search=on">{{ keyword }}</a></td>
						<td>{{ count }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}


